body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f8fa !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  padding: 0 !important;
}

.card {
  box-shadow: none !important;
}

.main-sidebar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) !important;
  border-top-right-radius: 1.25em !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 1.25em !important;
  border-bottom-left-radius: 0 !important;
  overflow: hidden;
}

.main-navbar {
  background: transparent;
  box-shadow: none !important;
}

.main-footer {
  background: transparent;
}

.text-bold {
  font-weight: 700;
}

.opacity-5 {
  opacity: 0.5;
}

.page-title {
  font-size: 2em !important;
}

.page-subtitle {
  letter-spacing: normal !important;
  font-size: 0.85em !important;
}

.loader {
  margin: auto;
  border: 2px solid rgba(0, 123, 255, 0.15);
  border-top: 2px solid #0099;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 0.75s linear infinite;
}

.loader.small {
  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center-tabs {
  position: absolute;
  width: 240px;
  left: 50%;
  margin-left: -120px;
}

.nav-tab {
  cursor: pointer;
  border-bottom: 3px solid #e8e8ef;
  font-weight: 500;
  color: gray;
}

.nav-tab.active {
  color: black;
  border-bottom-color: #007bff;
}

.flow-container {
  border-radius: 0.25em;
  max-width: 60rem;
}

.chart-section-container {
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chart-container {
  margin: 0 !important;
  overflow: hidden;
  border-radius: 0.5em;
}

.chart-container .react-transform-component {
  margin: 0 !important;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d1d5da' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.flowchart-sidebar {
  width: 300px;
  max-height: 80vh;
  background: white;
  flex-shrink: 0;
}

.chart-toolbar {
  background: white;
  padding: 0.5em;
  border-top: 1px solid#d1d5da;
  border-radius: 0 0 0 0.25em;
}

.draggable-item {
  cursor: move;
  font-size: 1.15em;
  text-align: center;
  padding: 1em;
  font-weight: 700;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 3px solid #099;
  color: black;
  border-radius: 0.25em;
}

.chart-node {
  cursor: move;
  text-align: center;
  font-size: 14px;
  background: #fff;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.25em;
  transition: 0.2s;
  border: 1px solid #d1d5da;
}

.node-header {
  font-size: 1.5em;
  color: white;
  background: #099;
  border-radius: 5px;
}

.draggable-container {
  border-radius: 0.25em;
}

.sc-AxiKw.iBtNbm.react-draggable {
  background-color: transparent !important;
}

.chart-node.gateway {
  opacity: 0.5;
}

.chart-node.special {
  background: #32c8cd;
  color: white;
}

.chart-node.stacked {
  box-shadow:
  /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */ 0 10px 0 -5px #fff,
    /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */ 0 20px 0 -10px #fff,
    /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
}

.node-port {
  background-color: #099;
  color: white;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 3rem;
  border: 1px solid white !important;
}

.lbZxLd .chart-node {
  border-color: #fc6;
}

.btn-outline {
  border: 1px solid #d1d5da !important;
}

.chart-container path:nth-child(2) {
  stroke: #6c757d;
}

.chart-container path:nth-child(3) {
  stroke: #099;
}

.chart-container path:nth-child(3):hover {
  stroke: #6c757d;
}

.property-table {
  overflow-y: scroll;
  padding: 0.5em;
  max-height: 80vh;
  background-color: #f6f8fa;
  border: 1px solid #d1d5da;
  border-radius: 0.25em;
}

.pod-name-input {
  font-size: 1.25em !important;
  font-weight: 600 !important;
  height: 2em !important;
  color: black !important;
}

.property-value-input {
  font-weight: 600 !important;
}

.property-value-input::placeholder {
  font-style: italic;
  opacity: 0.5 !important;
}

.property-label {
  font-weight: 500;
}

.bg-gray {
  background-color: #f6f8fa;
}

.sidebar-bottom {
  padding: 0.5em;
}

.sidebar-instructions {
  padding: 1em;
  padding-top: 50%;
  text-align: center;
}

.ReactModal__Overlay {
  z-index: 2040;
}

@media (max-width: 768px) {
  .flowchart-sidebar {
    width: 100%;
    border: none;
    max-height: 100%;
  }
}

.log-stream-container {
  height: 55vh;
  overflow: hidden;
  border-radius: 0 0 0.75em 0.75em;
}

.log-stream-container-small {
  height: 25vh;
  overflow: hidden;
  border-radius: 0 0 0.75em 0.75em;
}

.log-group-container {
  height: 100%;
  overflow-y: auto;
}

.ReactVirtualized__Grid {
  outline: none !important;
}

.text-monospace,
.log {
  font-family: "Roboto Mono", monospace;
  word-wrap: break-word;
}

.log:hover {
  background-color: rgba(0, 153, 153, 0.3);
}

.log-linkedin {
  color: #0077b5;
}

.log-primary {
  color: #099;
}

.log-success {
  color: #32c8cd;
}

.log-info {
  color: black;
}

.log-warning {
  color: #fc6;
}

.log-error {
  color: #f66;
}

.log-critical {
  color: #ff4540;
}

.log-debug {
  color: #9c27b0;
}

.log-prefix {
  white-space: nowrap;
  color: black;
}

.search-container {
  overflow-y: scroll;
  height: 100%;
  padding: 1em;
}

.d-invisible {
  opacity: 0;
}

.expanding-searchbar-gray .form-control,
.expanding-searchbar-gray .input-group-text {
  background: #f6f8fa;
}

.expanding-searchbar .form-control {
  max-width: 10em;
  transition: 0.25s;
}

.expanding-searchbar .input-group-text,
.expanding-searchbar .form-control {
  border-radius: 20em;
  border: none;
  box-shadow: none;
  transition: 0.2s;
}

.expanding-searchbar .form-control:focus {
  max-width: 100%;
}

.expanding-searchbar .input-group-text {
  padding-right: 0;
  color: black;
}

.expanding-searchbar i {
  transition: 0.2s;
}

.expanding-searchbar .input-group:focus-within .form-control,
.expanding-searchbar .input-group:focus-within .input-group-text {
  background: #f6f8fa;
}

.expanding-searchbar-gray .input-group:focus-within .form-control,
.expanding-searchbar-gray .input-group:focus-within .input-group-text {
  background: white;
}

.chart-legend-indicator {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: red;
  vertical-align: center;
  border-radius: 100%;
}

.chart-legend-item {
  display: inline-block;
}

.chart-legend-caption {
  line-height: 1;
  font-weight: 500;
  opacity: 0.75;
}

.back-to-bottom {
  display: none;
  position: absolute;
  right: 1.5em;
  top: 1em !important;
  padding: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #d1d5da;
  z-index: 5;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.back-to-bottom.active {
  display: inline-block;
}

.cursor-pointer,
.close-icon {
  cursor: pointer;
}

.connection-indicator i {
  font-size: 1.5em !important;
  color: white !important;
  line-height: 1 !important;
  margin-right: 0 !important;
  top: 0 !important;
  font-weight: 800;
}

.notifications-container {
  position: fixed;
  z-index: 5;
  bottom: 1em;
  right: 1em;
}

.toast {
  border: none;
}

.toast .close {
  opacity: 1;
  color: white;
  outline: none;
}

.no-select,
.toast .close {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.banner {
  position: fixed;
  z-index: 5;
  width: calc(100% - 4.75rem);
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  overflow: hidden;
  background-color: red;
  color: white;
}

@media (max-width: 768px) {
  .banner {
    width: 100%;
  }
}

.toast .btn {
  white-space: nowrap;
}

.toast.toast-success,
.toast.toast-success .toast-header,
.banner.banner-success {
  background-color: #32c8cd;
}

.toast.toast-error,
.toast.toast-error .toast-header,
.banner.banner-error {
  background-color: #f66;
}

.toast.toast-warning,
.toast.toast-warning .toast-header,
.banner.banner-warning {
  background-color: #fc6;
  color: black;
}

.btn-primary {
  background-color: #099 !important;
  border-color: #099 !important;
}

.text-primary {
  color: #099 !important;
}

.btn-danger {
  background-color: #ff4540 !important;
  border-color: #ff4540 !important;
}

.notifications {
  cursor: pointer;
}

.badge-success {
  background-color: #32c8cd !important;
}

.badge-primary {
  background-color: #099 !important;
}

.badge-danger {
  background-color: #f66 !important;
}

.app-category {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.25em;
  color: black;
  background: rgba(0, 153, 153, 0.25);
}

.app-title {
  font-size: 1.25em;
  font-weight: 700;
  line-height: normal;
}

.app-subtitle {
  font-weight: 600;
  opacity: 0.5;
}

.description-container {
  opacity: 0.75;
  overflow: hidden;
  height: 5em;
}

.description-overlay {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    white
  );
}

.app-rating {
  font-size: 1em;
}

.app-rating i {
  font-size: 0.85em;
  color: #6e7278;
  vertical-align: middle;
  margin-top: -0.25em;
  cursor: pointer;
}

.user-activity__item__icon i {
  margin-top: -2px;
  margin-left: -0.5px;
}

.command-bar i {
  font-size: 1.5em;
}

.log-group-header i {
  transition: 0.1s !important;
}

.app-rating.existing i {
  color: #fc6;
}

.app-rating.userRated i {
  color: #32c8cd;
}

.image-card .app-rating {
  position: absolute;
  bottom: 0;
}

.rating-num {
  font-size: 0.85em;
  line-height: normal !important;
}

.unstyled-link {
  text-decoration: none !important;
  color: inherit !important;
}

.verified-icon {
  color: #099;
}

.installation-command {
  cursor: pointer;
  background: #6e7278;
  color: white;
  font-family: "Roboto Mono", monospace;
  border-radius: 0.25em;
}

.build-history {
  max-height: 25em;
  overflow-y: scroll;
}

.btn-github {
  font-size: 1.25em;
  border: 1px solid gray;
}

.auth-form {
  margin-top: 25vh;
}

.text-faded {
  font-size: 0.75em;
  opacity: 0.5;
}

.stats-small__label {
  font-size: 1em;
}

.stats-small__label.under {
  font-weight: 600;
}

.node-info {
  text-align: left;
  padding: 0.25em;
}

.code-usage pre {
  border-radius: 5px;
  cursor: pointer;
}

.cookies-banner {
  z-index: 6;
  position: fixed;
  padding: 1.25em;
  bottom: 0;
  color: white;
  background-color: #32c8cd;
}

.cookies-banner.hidden {
  display: none;
}

.markup h1 {
  font-size: 2.5em;
}

.scrollable {
  overflow-y: auto;
}

.logstream-select {
  height: auto !important;
  width: auto;
  width: 15em;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.hub-select {
  height: auto !important;
  width: auto;
  width: 10.6em;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.command-bar-container {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1em;
  z-index: 5;
}

.flip-180 {
  transform: rotate(180deg);
}

.flip-270 {
  transform: rotate(270deg);
}

.capture-overlay-bottom,
.capture-overlay-top {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.capture-overlay-bottom::before,
.capture-overlay-bottom::after,
.capture-overlay-top::before,
.capture-overlay-top::after {
  position: absolute;
  width: 100px;
  height: 100px;
  border-color: #f66;
  border-style: solid;
  content: " ";
}

.capture-overlay-top::before {
  top: 5px;
  left: 5px;
  border-width: 5px 0 0 5px;
}

.capture-overlay-top::after {
  top: 5px;
  right: 5px;
  border-width: 5px 5px 0 0;
}

.capture-overlay-bottom::before {
  bottom: 5px;
  left: 5px;
  border-width: 0 0 5px 5px;
}

.capture-overlay-bottom::after {
  bottom: 5px;
  right: 5px;
  border-width: 0 5px 5px 0;
}

.readonly-overlay {
  position: absolute;
  padding: 1em;
  background: rgba(255, 255, 255, 0.85);
  height: 100%;
  width: 100%;
  border-radius: 0.625rem;
}

.log-group-item {
  border-radius: 0.5em;
  transition: 0.1s;
}

.log-group-item:hover {
  background: #f8f9fa;
}

.log-group-header {
  font-size: 1.5em !important;
}

.rotate-90 {
  transform: rotate(90deg);
}

.log-group-body > div {
  border-radius: 0.5em;
  overflow: hidden;
}
.tooltip-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip-icon {
  height: 50px;
  width: auto;
  margin-right: 15px;
}

.tooltip-text {
  width: 150px;
}
