.error{
  padding-top: 40vh;
}

.loader {
  margin: auto;
  border: 2px solid rgba(0, 123, 255, 0.15) ;
  border-top: 2px solid #007bff; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin .75s linear infinite;
}

.loader.small{
  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.navbar{
  border-bottom: 1px solid #E8E8EF;
}

.navbar.fixed-bottom{
  border-top: 1px solid #E8E8EF;
}

.center-tabs{
  position: absolute;
  width: 240px;
  left: 50%;
  margin-left: -120px;
}

.nav-tab{
  cursor: pointer;
  border-bottom: 2px solid #E8E8EF;
  font-weight: 500;
  color: gray
}

.nav-tab.active{
  color: black;
  border-bottom-color: #007bff;
}

.flow-container{
  display: flex;
  flex: 1;
  max-height: 80vh;
  border: 1px solid#E8E8EF;
  border-radius: .25em;
}

.chart-section-container{
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chart-container{
  overflow: hidden;
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.flowchart-sidebar{
  width: 300px;
  padding: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  border-left: 1px solid#E8E8EF;
  border-radius: 0em .25em .25em 0em;
  flex-shrink: 0;
}

.chart-toolbar{
  padding: 10px;
  border-top: 1px solid#E8E8EF;
}

.draggable-item{
  padding: 10px 10px;
  font-size: 14px;
  background: white;
  cursor: move;
  margin: 2px;
  border: 1px solid#E8E8EF;
  text-align: center;
  border-radius: .25em;
}

.chart-node{
  font-size: 1.15em;
  text-align: center;
  padding: 10px;
  font-weight: 500;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 3px solid white;
  border-radius: .25em;
}

.node-port{
  background-color: #6c757d;
  border: 2px solid #6c757d;
  color: white;
  line-height: 0;
  padding: 1px;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.lbZxLd .chart-node{
  border-color: #007bff;
}

.btn-outline{
  border: 1px solid #E8E8EF !important;
}

.percent-input{
  text-align: center;
  max-width: 75px !important;
}

.badge{
  line-height: 0 !important;
  padding: 10px !important;
  border-radius: .25em !important;
  vertical-align: text-bottom;
}

.chart-container path{
  stroke: #6c757d !important;
}