body{
  background-color: #f6f8fa !important;
}

.text-bold{
  font-weight: 700;
}

.loader {
  margin: auto;
  border: 2px solid rgba(0, 123, 255, 0.15) ;
  border-top: 2px solid #007bff; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin .75s linear infinite;
}

.loader.small{
  width: 50px;
  height: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.navbar{
  border-bottom: 1px solid #d1d5da;
}

.navbar.fixed-bottom{
  border-top: 1px solid #d1d5da;
}

.center-tabs{
  position: absolute;
  width: 240px;
  left: 50%;
  margin-left: -120px;
}

.nav-tab{
  cursor: pointer;
  border-bottom: 3px solid #E8E8EF;
  font-weight: 500;
  color: gray
}

.nav-tab.active{
  color: black;
  border-bottom-color: #007bff;
}

.flow-container{
  border: 1px solid#d1d5da;
  border-radius: .25em;
}

.chart-section-container{
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chart-container{
  overflow: hidden;
  border-radius: .25em 0em 0em 0em;
  background-color: #E8EBF0;
}

.flowchart-sidebar{
  width: 300px;
  max-height: 80vh;
  background: white;
  border-left: 1px solid#d1d5da;
  border-radius: 0em .25em .25em 0em;
  flex-shrink: 0;
}

.chart-toolbar{
  background: white;
  padding: .5em;
  border-top: 1px solid#d1d5da;
  border-radius: 0em 0em 0em .25em;
}

.draggable-item{
  cursor: move;
  font-size: 1.15em;
  text-align: center;
  padding: 1em;
  font-weight: 700;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 3px solid #007bff;
  color: black;
  border-radius: .25em;
}

.chart-node{
  cursor: move;
  font-size: 1.15em;
  text-align: center;
  padding: 5px;
  font-weight: 500;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 3px solid white;
  border-radius: .25em;
}

.node-port{
  background-color: #6c757d;
  border: .15em solid #6c757d;
  color: white;
  line-height: 0;
  font-size: .85em;
  padding: .15em;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  border-radius: .25em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.lbZxLd .chart-node{
  border-color: #007bff;
}

.btn-outline{
  border: 1px solid #d1d5da !important;
}

/* .badge{
  line-height: 0 !important;
  padding: 10px !important;
  border-radius: .25em !important;
  vertical-align: text-bottom;
} */

.chart-container path{
  stroke: #6c757d !important;
}

.property-table{
  overflow-y: scroll;
  padding: .5em;
  max-height: 80vh;
  background-color: #f6f8fa; 
  border: 1px solid #d1d5da;
  border-radius: .25em;
}

.pod-name-input{
  font-size: 1.25em !important;
  font-weight: 600 !important;
  height: 2em !important;
  color: black !important;
}

.property-value-input{
  font-weight: 600 !important;
}

.property-value-input::placeholder{
  font-style: italic;
  opacity: .5 !important;
}

.property-label{
  font-weight: 500;
}

.bg-gray{
  background-color: #f6f8fa;
}

.sidebar-bottom{
  padding: .5em;
}

.sidebar-instructions{
  padding: 1em;
  padding-top: 50%;
  text-align: center;
}

i.material-icons{
  font-size: 1.15em;
  vertical-align: text-bottom;
}

.ReactModal__Overlay{
  z-index: 2040;
}

@media (max-width: 768px) {
  .flowchart-sidebar{
    width: 100%;
    border: none;
    max-height: 100%;
    border-radius: 0em 0em .25em .25em;
    border-top: 1px solid #d1d5da;
  }
}

.log-stream-container{
  height: 55vh;
}

.ReactVirtualized__Grid{
  outline: none !important;
}

.log{
  font-family: 'Roboto Mono', monospace;
  word-wrap: break-word;
}

.log-success{
  color: #28a745;
}

.log-info{
  color: black;
}

.log-error{
  color: #ffcc66;
}

.log-critical{
  color: #ff6666;
}

.log-prefix{
  white-space: nowrap;
  color: black;
}

.search-container{
  overflow-y: scroll;
  height: 100%;
  padding: 1em;
}

.back-to-bottom{
  display: none;
  position: absolute;
  right: 1.5em;
  top: .5em !important;
  padding: 1em;
  padding-top: .25em;
  padding-bottom: .25em;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #d1d5da;
  z-index: 5;
  cursor: pointer;
  transition: .2s;
}

.back-to-bottom.active{
  display: inline-block;
}

.cursor-pointer,
.close-icon{
  cursor:pointer;
}

.connection-indicator i{
  font-size: 1.5em !important;
  color: white !important;
  line-height: 1 !important;
  margin-right: 0px !important;
  top: 0px !important;
  font-weight: 800;
}

.banner{
  position: fixed;
  z-index: 5;
  width: 100%;
  padding-top: .25em;
  padding-bottom: .25em;
}